body {font-family: Arial, Helvetica, sans-serif;}

/* The Modal (background) */
.class_changeModal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 10; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  -webkit-animation-name: fadeIn; /* Fade in the background */
  -webkit-animation-duration: 0.4s;
  animation-name: fadeIn;
  animation-duration: 0.4s
 
}

/* Modal Content */
.class_changeModal_content {
  bottom: 0;
  height: 20%;
  border: 2px;
  border-color: black;
  background-color: #fefefe;
  width: 100%;
  -webkit-animation-name: slideIn;
  -webkit-animation-duration: 0.4s;
  animation-name: slideIn;
  animation-duration: 0.4s
}

/* The Close Button */
.changeModal_close {
  color: red;
  float: right;
  font-size: 30px;
  font-weight: bold;
}

.changeModal_close:hover,
.changeModal_close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

.changeModal_header {
  padding: 20px 40px;
  heigth: 30%;
  background-color: #2ecec2;
  color: white;
}

.id_changeModal_header {
  
}

.changeModal-body {
	padding: 2px 16px;
}

.changeModal-footer {
  text-align: center;
  padding: 2px 16px;
  background-color: #2ecec2;
  color: white;
  
}

#id_confirmChange_btn{
  display: inline-block;
  border-radius: 4px;
  background-color: white;
  border: none;
  color: black;
  text-align: center;
  font-size: 14px;
  padding: 10px;
  width: 95%;
  transition: all 0.5s;
  cursor: pointer;
  margin: 5px;
}
/* Add Animation */
@-webkit-keyframes slideIn {
  from {bottom: -300px; opacity: 0} 
  to {bottom: 0; opacity: 1}
}

@keyframes slideIn {
  from {bottom: -300px; opacity: 0}
  to {bottom: 0; opacity: 1}
}

@-webkit-keyframes fadeIn {
  from {opacity: 0} 
  to {opacity: 1}
}

@keyframes fadeIn {
  from {opacity: 0} 
  to {opacity: 1}
}
